@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
.font-sans {
	font-family: "Open Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
.font-roboto {
	font-family: "Roboto", sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
}
